# MacOS #
#########
.DS_Store
*~

# Rust project #
################
target/
0_out/
graphics/
src/bk/
studentGradeBook_Repos/
pairings.txt
0_thisLastPush.txt


# bash #
########
.bash_history

# Vim #
#######
*.swp
*.swo
*.project.vim
